<footer class="bg-light border-top py-3">
    <div class="container text-center text-md-start">
        <div class="row align-items-center">

            <!-- Social Media Links -->
            <div class="col-md-4 mb-2 mb-md-0 text-center text-md-start">
                <a href="https://www.facebook.com" class="me-3 text-dark">
                    <i class="fa-brands fa-facebook fa-lg"></i>
                </a>
                <a href="https://www.jntuk.edu.in" class="me-3 text-dark">
                    <i class="fa-solid fa-building-columns fa-lg"></i>
                </a>
                <a href="https://www.linkedin.com/school/jntukakinada/?originalSubdomain=in" class="text-dark">
                    <i class="fa-brands fa-linkedin fa-lg"></i>
                </a>
            </div>

            <!-- Copyright Info -->
            <div class="col-md-4 text-center">
                <span>&copy; 2024 JNTUK Public Limited</span>
            </div>

            <!-- Privacy & Terms -->
            <div class="col-md-4 text-center text-md-end">
                <a href="/privacy" class="text-dark me-3">Privacy</a>
                <a href="/terms" class="text-dark">Terms</a>
            </div>

        </div>
    </div>
</footer>