<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
    <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center" href="/exams">

            <img src="/assets/logo.svg" alt="logo" />

        </a>

        <!-- Toggle Button for Mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Links -->
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link px-3" href="/">Home</a>
                <a class="nav-link px-3" href="/exams">Exams</a>
                <a class="nav-link px-3" href="/aboutUs">About Us</a>
            </div>

            <!-- Authentication Links -->
            <div class="navbar-nav ms-auto">
                <% if (!currUser) { %>
                    <a class="nav-link btn btn-outline-primary px-3 py-1 mx-1" href="/signup">Sign Up</a>
                    <a class="nav-link btn btn-primary text-white px-3 py-1 mx-1" href="/login">Log in</a>
                    <% } else { %>
                        <% if (currUser.role === "Student" ) { %>

                            <a class="nav-link btn btn-info text-white px-3 py-1 mx-1" href="/exams/<%= currUser._id %>/dashboard">
                            My Dashboard <i class="bi bi-arrow-up-right"></i>
                        </a>
                            <% } %>
                                <a class="nav-link btn btn-danger text-white px-3 py-1 mx-1" href="/logout">Log out</a>
                                <% } %>

            </div>
        </div>
    </div>
</nav>